html,body{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background-color: #111;
}
nav{
    line-height: 1.2;
}
#dummyhead{
    border: solid 0.1rem;
    display: inline-block;
    box-shadow: goldenrod 4px 4px !important;
}
#dummy{
    text-align: center;
    padding: 4%;
}
.nav-link{
    font-size: 1.2rem;
}
.navbar-brand:hover{
    color: rgb(247, 201, 84) !important;
}

.nav-link:hover{
    color: goldenrod !important;
}

.nav-item{
    padding-right: 1.5rem;
}
.ahead:hover{
    text-decoration: none !important;
}
.heading{
    font-size: 2.2rem;
    padding: 1% !important;
}
.heading:hover{
    color: goldenrod !important;
}

.pimg{
    width: 70%;
    border-radius: 100%;        
}
.ppimg{
    padding: 3%;
}
.imgp{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-top: 4%;
    text-decoration: none;
    color: white !important;
    
}
.imgp:hover{
    color: goldenrod !important;
    text-decoration: none !important;
}
.imgp1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: gray;
}
.foot{
    text-align: center;
    background-color: #111;
    padding: 5%;
}
.pfoot{
    font-size: 1rem;
    color: rgb(212, 207, 207);
    margin-top: 5%;
}
.pimg:hover{
    border: solid 2.8px goldenrod;
}

/* Scrollbar */
/* ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49);
    border-radius: 10px;
  } */
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  @media (min-width: 0px) and (max-width: 957px)
{
    .pimg{
        width: 45%;
    }
    #dummyhead{
        width: 76%;
    }
}